<!DOCTYPE html>
<html>
<head>
  <title>Take A Ride!</title>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' %>

  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBviXm2EqUDSJosBWW-Io5igTFM59Klma8&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Take a ride!</a>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
